/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:white;
box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

.logo{
font-size:22px;
font-weight:bold;
}

.navbar ul{
display:flex;
gap:30px;
list-style:none;
}

.navbar li{
cursor:pointer;
font-weight:500;
}

.nav-buttons button{
padding:8px 15px;
border:none;
border-radius:5px;
cursor:pointer;
}

.login{
background:none;
}

.signup{
background:#e5322d;
color:white;
}

/* HERO */

.hero{
text-align:center;
margin-top:100px;
}

.hero h1{
font-size:48px;
margin-bottom:10px;
}

.hero p{
color:#666;
margin-bottom:30px;
}

.upload-btn{
background:#e5322d;
color:white;
border:none;
padding:18px 40px;
font-size:18px;
border-radius:10px;
cursor:pointer;
box-shadow:0 5px 15px rgba(0,0,0,0.15);
}

.upload-btn:hover{
background:#cc2b26;
}

.drop-text{
margin-top:15px;
color:#777;
}
