body{
font-family: Arial;
background:#f5f5f5;
text-align:center;
}

header{
padding:40px;
}

.tools{
display:grid;
grid-template-columns:repeat(auto-fit,200px);
justify-content:center;
gap:20px;
}

.tool{
background:white;
padding:30px;
border-radius:10px;
text-decoration:none;
color:black;
box-shadow:0 0 10px rgba(0,0,0,0.1);
font-weight:bold;
}

.tool:hover{
transform:scale(1.05);
}
